h1 {
    text-align: center;
    font-family: 'Mansalva', cursive;
}
p {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-image: url("https://assetstorev1-prd-cdn.unity3d.com/package-screenshot/917dd879-318f-42d9-abab-c67f6c07e694_scaled.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 

}

.container {
    margin-right: 15%;
    margin-left: 15%;
    background-color: white;
    height: 60vh;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 25px;
}